body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #f9322c;
    background-image: url('../background.jpg');
    font-family: Inter;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111118;
    padding: 20px;
    margin: 200px auto;
}

.container h1 {
    font-size: 26px;
}

.container h2 {
    font-size: 18px;
}

.container button {
    align-content: center;
    background: #FF2D20;
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    font-size: 18px;
}

.container button:hover {
    width: 210px;
    height: 38px;
    cursor: pointer;
}
